:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
}

* {
  box-sizing: border-box;
}
body {
  background-color: var(--color-black);
  height: 100vh;
  width: 100vw;
}
.container {
  text-align: center;
  width: 40vw;
  height: 70vh;
  margin: 30px auto;
}
.options {
  display: flex;
  justify-content: space-between;
}
.options img {
  width: 75px;
  height: 75px;
}
.color-box {
  width: 75px;
  height: 75px;
  text-align: center;
  border-radius: 10px;
}
.color-box p {
  margin: 28px 0;
}
.blue {
  background-color: var(--color-blue);
}
.yellow {
  background-color: var(--color-yellow);
}
.pink {
  background-color: var(--color-pink);
}
.lists {
  overflow-y: scroll;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
}
.list {
  background-color: var(--color-white);
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
}
.list img {
  width: 45px;
  height: 45px;
}
